*{
    margin:0;
    padding: 0;
}

body{
    background-color: #203E66;
    font-family: sans-serif;
}

.box{
    height:400px;
    width:400px;

    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: rgba(11, 10, 18, 0.548);
 
}

h1{
    text-align: center;
    color:white;
    padding-top: 20%;
}
.box input[type="text"],.box input[type="password"]
{
    text-align: center;
    color : white;
    border : 0 ;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border:2px solid #293F6F;
    padding : 14px 10px ;
    width:200px;
    outline: none;
    border-radius: 40px;
    transition: 0.25s;
}

.box input[type="submit"]{
    color : white;
    border : 0 ;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border:2px solid #3498db;
    padding:14px 40px;
    outline: none;
    border-radius: 40px;
    transition: 0.25s;
    border-color:#2ecc71;
}
.box input[type="submit"]:hover{
    cursor: pointer;
    background-color: #2ecc71;
    
}

.box input[type="text"]:focus,.box input[type="password"]:focus{
    width:240px;
    border-color:#2ecc71;
}
a{
    color :grey;
    position: relative;
    text-decoration: none;
    line-height: 20px;
    padding-left:90px;
}
a:hover{
    opacity:0.8;
    color:white
}